<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form method = "POST">
    <body style="display:flex; flex-direction:column;max-width:220px;">
        <input id = 'n' style="margin: 0 0 10px 0;">
        <input id = 's' style="margin: 0 0 10px 0;">
        <input id = 'l' style="margin: 0 0 10px 0;">
        <input id = 'p' style="margin: 0 0 10px 0;">
        <input id = 'g' style="margin: 0 0 10px 0;">
    <button id = 'input_button', style="max-width: 70px;">Внести</button>
</body>
</form>
</html>